<div
  class="list-wrapper"
  [ngClass]="{
    'main-product': productData.main,
    pinkBorder: productData.discount === discountMedium,
    redBorder: productData.discount === discountLarge
  }"
>
  <div class="description">
    <div
      class="discount-block"
      [ngClass]="{
        pinkBackground: productData.discount === discountMedium,
        redBackground: productData.discount === discountLarge
      }"
    >
      <p class="discount">{{ productData.discount }}% off</p>
    </div>
  </div>
  <div class="image">
    <img [src]="productData.imgUrl" alt="Product" />
  </div>
  <div class="main-info">
    <div class="main-info__main">
      <div class="main-info__price">
        <p
          [ngClass]="{
            pink: productData.discount === discountMedium,
            red: productData.discount === discountLarge
          }"
        >
          {{ productData.price | currency }}
        </p>
      </div>
      <div class="main-info__shop">
        <p>{{ productData.shop }}</p>
      </div>
    </div>
    <p>{{ productData.description | charactersLimit }}</p>
  </div>
  <hr class="horizontal-line" />
  <div class="additional-info">
    <p *ngIf="productData.shipping !== null">{{ productData.shipping }}</p>
    <p *ngIf="productData.isNew">New</p>
    <p>{{ productData.discountUntil | date }}</p>
  </div>
</div>
