.products {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 10px auto;
  &__list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

@import "../../../variables.scss";
