@media (min-width: 600px) {
  .products {
    width: 500px;
  }
  .image {
    & img {
      max-height: 120px;
    }
  }
  .mainProduct {
    .image {
      & img {
        max-height: 150px;
      }
    }
  }
}
@media (min-width: 1050px) {
  .products {
    flex-direction: row;
    width: 1110px;
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      width: 900px;
    }
  }
  .list-wrapper {
    margin: 0 0 10px 10px;
    width: 185px;
  }
  .image {
    & img {
      max-height: 75px;
    }
  }
  .main-info {
    & > p {
      width: 60%;
    }
  }
  .mainProduct {
    width: 205px;
    .image {
      margin-top: 50px;
    }
  }
}
@media (min-width: 1350px) {
  .products {
    flex-direction: row;
    width: 1340px;
    &__list {
      width: 1000px;
    }
  }
  .list-wrapper {
    width: 215px;
  }
  .main-info {
    & > p {
      width: 50%;
    }
  }
  .mainProduct {
    width: 310px;
  }
}
